h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: black;
    text-transform: capitalize;
}
p{
    font-family: 'Libre Baskerville', serif;
    color: white;
}
#first{
    background-color: black;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
body{
    background-color: black;
}
#Goggins{
    border: 5px solid white;
    width: 100%;
    margin-top: 20px;
}